<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h3 class="white-text">KaWaSaKi</h3>
        <p class="grey-text text-lighten-4">SUPERCHARGE YOUR JOURNEY ...</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text" style="color: azure">Connect - US</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" style="color: beige">
    ©   2019 INDIA KAWASAKI MOTORS PVT. LTD.
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    <br>
    <img src="https://s15.postimg.cc/3k2228kcb/ezgif.com-gif-maker.png">
  <!-- <img src="https://s15.postimg.cc/4hhfhcyq3/hostpresto.png" style="width: 25%;height: 25%;margin: 10px">   -->
  </div>
  </div>
</footer>