<div class="container">
	<div class="row">
		<h2 style="color: tomato">Happiness is a way of travel not a destination  <i class="fa fa-motorcycle" aria-hidden="true"></i>
    </h2>
	</div>
    <hr>
            <div class="row row-margin-bottom">
            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <!-- <div class="row box-shadow" *ngFor="let product of products"> -->
                        <div class="row box-shadow" *ngIf="products">
                        <div class="col-md-6">
                                
                                <!-- <img class="lib-img-show" src="{(product._id).producturl}}"> -->
                                <img class="lib-img-show" src="{{products.producturl}}">
                            <!-- <pre>{{products | json}}</pre> -->
                                <!-- <img class="lib-img-show" src="{{products?.producturl}}"> -->
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Explore the World riders!!!
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                              <!-- <h1 style="color: blue">{{products?.productname}}</h1>
                              <h3 style="color: cadetblue">Rs: {{products?.productprice}}</h3>
                              <p>{{products?.productdiscription}}</p> -->
                              <h1 style="color: blue">{{products.productname}}</h1>
                              <h3 style="color: cadetblue">Rs: {{products.productprice}}</h3>
                              <p>{{products.productdiscription}}</p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-1"></div>
            <div class="col-md-5 no-padding lib-item" data-category="ui">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img" src="http://lorempixel.com/850/850/?random=456">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Example library
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
</div>