<app-bghome></app-bghome>
<!-- <div>
  <div>
  <div class="products">
    <img src="http://media.motoblog.it/2/200/2007KawasakiVulcan2000ClassicLTasmall.jpg">
    <p>Kawasaki-Ducatu</p>
   
  </div>
  <div class="products">
    <img src="https://moto.aaannunci.it/pics/18/42/9811179.jpg">
    <p>Kawasaki-Ninja</p>
    
  </div>
  <div class="products">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Kawasaki_Z1000_%281977%29_-_15344712220.jpg/1200px-Kawasaki_Z1000_%281977%29_-_15344712220.jpg">
    <p>Kawasaki-Vulcan</p>
    
  </div>
  <div class="products">
    <img src="http://put.edidomus.it/dueruote/nuovo/500/34a204.jpg">
    <p>K-Eliminator</p>
    
  </div>
  <div class="products">
    <img src="http://media.motorbox.com/cache/images/2/0/5/205872/205872-16x9-lg.jpg">
    <p>Kawasaki-Estrella</p>
   
  </div>
  <div class="products">
    <img src="http://i.imgur.com/RcFLt.jpg">
    <p>Kawasaki-VN1600</p>
    
  </div>
  <div class="products">
    <img src="http://media.motorbox.com/image/kawasaki-versys-1000-3/4/8/2/482299/482299-16x9-lg.jpg">
    <P>Ninja-X20</P>
    
  </div>
  <div class="products">
    <img src="https://www.amotomio.it/images/phocagallery/201104Kawa1400gtr/Kawasaki1400GTR05.JPG">
    <p>Kawasaki-1400</p>
    
  </div> 
  <div class="products">
      <img src="https://i.pinimg.com/originals/11/7e/06/117e06d0143303038e6faa161c0c818d.jpg">
      <p>Kawasaki-800cc</p>
      
    </div>
</div>
</div> -->


<!-- ___________________________________________________________ -->
<!-- <div class="container">
  <h3 class="h3">shopping Demo-1 </h3>
  <div class="row">
      <div class="col-md-3 col-sm-6">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#">
                      <img class="pic-1 aa" src="https://media.zigcdn.com/media/model/2017/Feb/200-ktm-duke-left_600x300.jpg">
                      <img class="pic-2 bb" src="https://www.drivespark.com/img/2018/11/xktm-duke-125-india-launch-1543220864.jpg.pagespeed.ic.FnrB-6sBUV.jpg">
                  </a>
                  <ul class="social">
                      <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                      <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                      <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
                  <span class="product-new-label">Sale</span>
                  <span class="product-discount-label">20%</span>
              </div>
              <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star disable"></li>
              </ul>
              <div class="product-content">
                  <h3 class="title"><a href="#">KTM</a></h3>
                  <div class="price">Rs.3,00,000
                      <span>Rs.4,50,000</span>
                  </div>
                  <a class="add-to-cart" href="">+ Add To Cart</a>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#">
                      
                      <img class="pic-1" src="https://bd.gaadicdn.com/processedimages/ktm/ktm-duke-390/source/v_duke-390-std1528454016.jpg">
                      <img class="pic-2" src="https://stat.overdrive.in/wp-content/odgallery/2017/03/33681_KTM_Duke_390_0006_468x263.JPG">
                  </a>
                  <ul class="social">
                      <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                      <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                      <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
                  <span class="product-new-label">Sale</span>
                  <span class="product-discount-label">50%</span>
              </div>
              <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                  <h3 class="title"><a href="#">Duke</a></h3>
                  <div class="price">RS.5.0
                      <span>RS.8.5</span>
                  </div>
                  <a class="add-to-cart" href="">+ Add To Cart</a>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#">
                      <img class="pic-1" src="http://www.bikebound.com/wp-content/uploads/2018/08/Kawasaki-Ninja-250R-Street-Tracker-12.jpg">
                      <img class="pic-2" src="http://www.bikebound.com/wp-content/uploads/2018/08/Kawasaki-Ninja-250R-Street-Tracker-4.jpg">
                  </a>
                  <ul class="social">
                      <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                      <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                      <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
                  <span class="product-new-label">Sale</span>
                  <span class="product-discount-label">50%</span>
              </div>
              <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                  <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                  <div class="price">$5.00
                      <span>$10.00</span>
                  </div>
                  <a class="add-to-cart" href="">+ Add To Cart</a>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#">
                      <img class="pic-1" src="https://banner2.kisspng.com/20180408/isw/kisspng-ducati-monster-696-ducati-museum-ducati-multistrad-monstera-5aca3901d2a252.8775935815232023058628.jpg">
                      <img class="pic-2" src="https://banner2.kisspng.com/20180407/ikw/kisspng-ducati-multistrada-1200-ducati-monster-motorcycle-monstera-5ac870f38a4f17.2442272615230855555665.jpg">

                    </a>
                  <ul class="social">
                      <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                      <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                      <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
                  <span class="product-new-label">Sale</span>
                  <span class="product-discount-label">50%</span>
              </div>
              <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                  <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                  <div class="price">$5.00
                      <span>$10.00</span>
                  </div>
                  <a class="add-to-cart" href="">+ Add To Cart</a>
              </div>
          </div>
      </div>
  </div>
</div> -->
<!-- /////////////////////////////////////////////////////////////////// -->


<!-- <img src=""  width="300" height="300"> -->
<h1>FEATURED KAWASAKI VEHICLES</h1>
<div class="row">
        <div class="column">
          <img src="https://gaadiwaadi.com/wp-content/uploads/2017/09/Kawasaki-Z650-Flat-Track-Custom-1.jpg" alt="Snow" style="width:100%">
          
        </div>
        <div class="column">
          <img src="https://i.ytimg.com/vi/WVzxupk4IWI/maxresdefault.jpg" alt="Forest" style="width:100%;height:100%">
        
        </div>
        <div class="column">
          <img src="https://www.drivespark.com/bikes-photos/modelsoverview/600x450/207/kawasaki-z250-review-design-and-style.jpg/3/x.pagespeed.ic.93qZK_WZ1E.jpg" alt="Mountains" style="width:100%">
           
        </div>
        <div class="column">
                <img src="https://i.ytimg.com/vi/5BtOT4HPhr0/maxresdefault.jpg" alt="Snow" style="width:100%;height: 100%">
               
            </div>
              <div class="column">
                <img src="https://s1.cdn.autoevolution.com/images/moto_gallery/KAWASAKIZ1000BlackEdition-3048_1.jpg" alt="Forest" style="width:100%;height:100%">
                 
            </div>
              <div class="column">
                <img src="http://www.blogcdn.com/www.autoblog.com/media/2010/12/171210duc.jpg" alt="Mountains" style="width:100%">
               
            </div>
      </div>
<br>
<br>
<app-footpage></app-footpage>