<br>
<div class="mydiv">
<!-- <div class="container"> -->
    <h1 style="text-align: center;color: aliceblue">KAWASAKI</h1>
    <h2 id="set">WELCOME TO KAWASAKI MALAYSIA</h2>
    <p id="set1">With our all new webpage, you will be able to easily navigate through to find our motorcycle line up,nearest authorized dealers , upcoming events and many more!</p>
  <iframe width="500" class="sizing" height="300" src="https://www.youtube.com/embed/w1yQ1dtu_Ho"
 frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<!-- </div> -->
</div>

<div class="abc">
    <!-- <div class="container"> -->
        <h1 style="text-align: center;color: aliceblue"></h1>
        <img src="http://www.kawasaki-cp.khi.co.jp/msinfo/img/slide_02.jpg" style="width: 300px;height: 180px;" >
        <h1 id="set2">LIME GREEN</h1>
        <p id="set2">Lime Green - From Color Of Defiance to Symbol of Challenge</p>
        <h5 id="set12">Kawasaki’s Key Arenas of Competition</h5>
        <!-- <p id="set2">Lime Green - From Color Of Defiance to Symbol of Challenge</p> -->
      <p id="set3">Kawasaki’s racing history started with a motocross race in 1961.
          More than half a century has passed since then, and Kawasaki has amassed countless victories in both road racing and off-road racing. 
          As we continue to pursue all possibilities, Kawasaki’s indomitable racing spirit burns brightly.</p>
   
          <!-- <button class="btn btn-primary" routerLink="/Rating">
            <span class="spinner-border spinner-border-sm" ></span>
            Show Rating..
          </button> -->
        </div>
    